@font-face {
  font-family: 'aliiconfont';  /* project id 709721 */
  src: url('//at.alicdn.com/t/font_709721_8mdqyuloydr.eot');
  src: url('//at.alicdn.com/t/font_709721_8mdqyuloydr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_709721_8mdqyuloydr.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_709721_8mdqyuloydr.woff') format('woff'),
    url('//at.alicdn.com/t/font_709721_8mdqyuloydr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_709721_8mdqyuloydr.svg#aliiconfont') format('svg');
}

* {
  font-size: 24 rpx;
}

.aliiconfont {
  font-family: "aliiconfont" !important;
  font-size: 32 rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.ellipsis {
  no-wrap()
}

.ellipsis2 {
  no-wrap-more(2)
}
