// 单行显示省略号
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  word-break:break-all;

// 多行显示省略号
no-wrap-more($col)
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: $col
  overflow: hidden

//rem转换 $px / 75 *1rem

px2rem($px)
  $px * 1rpx
